.DS_Store
/ftpOperativosProyecto/nbproject/private/
/ftpOperativosProyecto/build/
/ftpOperativosProyecto/dist/
/ftpOperativosProyecto2/nbproject/private/
/ftpOperativosProyecto2/build/
/ftpOperativosProyecto2/dist/
/SemaphoreSync/nbproject/private/
/SemaphoreSync/build/
/MonitorProductoConsumidor/nbproject/private/
/MonitorProductoConsumidor/build/